@{
  Layout = "_Layout";
}

<h2>Account</h2>

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-danger">Log out</button>
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Login", "Login")</p>
}
