@{
  Layout = "_Layout";
}
@using PierresMarket.Models
@model List<PierresMarket.Models.Treat>

<div class="card bg-dark">
  <img src="~/img/bakery-splash.jpg" class="card-img" alt="bakery image">
  <div class="card-img-overlay">
    <h2 class="card-title text-center shadow bg-light rounded py-3 mx-4">Welcome to Pierres Sweet and Savory treats</h2>
  </div>
</div>

@if (Model.Count == 0 && ViewBag.Flavors.Count == 0)
{
  <p>There are currently no recipes or flavor tags in the system. Add some and you'll see them displayed on this page.</p>
}
else
{
  <p>Feel free to browse all our delicious treats below or using the links above.</p>
  <div class="row">
    @if (Model.Count != 0)
    {
      <div class="col">
        <h4>Treats</h4>
        @foreach (Treat treat in Model)
        {
          <div class="card border-primary mb-3">
            <div class="card-body">
              <h5 class="card-title">@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</h5>
              <hr>
              <p class="card-text">@treat.Description</p>
            </div>
          </div>
        }
      </div>
    }
    else
    {
      <div class="col">
        <h4>Treats</h4>
        <p>No treats have been added yet.</p>
      </div>
    }
    @if (ViewBag.Flavors.Count != 0)
    {
      <div class="col-md-3">
        <h4>Flavors</h4>
        <div class="list-group">
          @foreach (Flavor flavor in ViewBag.Flavors)
          {
            <li class="text-center list-group-item">@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId})</li>
          }
        </div>
      </div>
    }
    else
    {
      <div class="col-md-3">
        <h4>Flavors</h4>
        <p>No flavors have been added yet.</p>
      </div>
    }
  </div>
}
